<section class="main-page">
    <div class="logo-side">
        <div class="logo-side-logo">
            <img src="/img/white-logo.png" alt="BookShare Logo" class="main-page-logo" id="main-page-logo">
        </div>
        <p class="logo-side-text">The Social Network For Book Lovers! </p>
    </div>
    <div class="btn-side">
        <a href="/auth/login" type="button" class="btn btn-primary login">
            <i class="fa-solid fa-arrow-right-to-bracket index-icon"></i>Login</a>
        <a href="/auth/signup" type="button" class="btn btn-primary signup"><i class="fa fa-user-o index-icon"></i>Sign
            Up</a>
    </div>
</section>